<% provide(:title, 'All Users') %>
<h1>全てのユーザー</h1>

<div class="search_botton">
  <%= form_with model: User.new, method: :get, local: true do |f| %>
    <%= f.label "ユーザー名検索　　　　　　　" %><br>
    <%= f.text_field :name %>
    <%= f.submit "検索", {class: "search_name"} %>
  <% end %>
</div>
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "| 基本情報編集", user_path(user) %>
              <%= link_to "| 削除", user, method: :delete,
                  data: { confirm: "#{user.name}を削除してうよろしいですか？"} %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>